$btn-color: #0066cc;
$btn-outline-width: 1px;
$btn-outline-hover: 2px;
$btn-outline-offset: -$btn-outline-width;

.sberButton {
  box-sizing: border-box;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 3px;
  height: 34px;
  line-height: 1;
  color: $btn-color;
  outline: $btn-outline-width solid $btn-color;
  outline-offset: $btn-outline-offset;
  cursor: pointer;
  user-select: none;
  background-color: #fff;

  &:hover,
  &:focus-visible {
    outline-width: $btn-outline-hover;
    outline-offset: -$btn-outline-hover;
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }
}
