.mainWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .centered {
    width: 350px;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }

  .formWrapper {
    display: inline-flex;
    gap: 10px;
    align-items: center;
  }
}